:root {
  --uwRed: #c5050c;
  --uwRedDark: #9b0000;
  --uwRedLight: #f4b7b7;
  --uwGrayDark: #282728;
  --uwGrayLight: #e1e5e7;
  --uwGrayLightest: #f3f3f3;
  --uwWhite: #ffffff;
  --uwBlack: #121212;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--uwGrayLightest);
  font-family: system-ui, sans-serif;
  color: var(--uwBlack);
}
